{{!-- pages/about-us.hbs --}}
{{#> layouts/base title="About us" }} {{#*inline "nav-block"}} {{> includes/nav
nav-class="fixed-top"
}} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component img-src="/img/about-us-header-min.jpg"
img-src-2x="/img/about-us-header@2x-min.jpg"
mob-img-src="/img/about-us-mobile-header-min.jpg" mob-img-src-2x="/img/about-us-mobile-header@2x-min.jpg" cta="Learn
more
about our products and technologies" cta-class="btn-secondary" cta-link="/our-products.html" }}

<div class="page-content">
  <h1>
    <span>The EAM advantage</span>
    <br /> from start to finish
  </h1>
  <p>Engineered Absorbent Materials (EAM Corporation) has been developing and manufacturing innovative, high quality
    absorbent
    core solutions for many of the world's largest and most successful branded and private label consumer product
    manufacturers
    since 1998.</p>
  <p>Our headquarters and manufacturing center is conveniently located in Jesup, Georgia near Savannah, one of the
    busiest container
    ports in North America. The facility includes a state-of-the-art research complex, where our team of scientists and
    engineers
    are developing the next generations of absorbent materials for future consumer and industrial applications.
  </p>
  <p>To learn more about our business, please refer to our <a href="/faqs.html" target="_blank">Frequently Asked
      Questions</a>.</p>
  <p>We pride ourselves in offering more than just a great product at a great price. We back our products with superior
    customer
    support at every stage of the product development and purchase cycles:</p>
  <div class="row">
    <div class="col-md-6">
      <h2>Constant Product Innovation</h2>
      <p>We maintain a state-of-the-art research facility, dedicated to developing cutting-edge airlaid materials - the
        next-generation
        nonwovens that our customers have come to expect from the NovaThin brand.</p>
    </div>
    <div class="col-md-6">
      <h2>World-Class Manufacturing Facility</h2>
      <p>Our Jesup plant is one of the most advanced nonwovens manufacturing facilities in the world today, employing
        the latest
        technologies and methods to ensure the highest quality production standards.</p>
    </div>
    <div class="col-md-6">
      <h2>Advanced Systems and Procedures</h2>
      <p>From the research department to the loading bays, our commitment to industry best practices and today's most
        advanced
        software systems guarantees a superior level of service to every NovaThin customer.</p>
    </div>
    <div class="col-md-6">
      <h2>Unparalleled Customer Service</h2>
      <p>Our goal is to ensure that working with us is a pleasure every step of the way. That’s why we insist that the
        EAM team
        should be not only knowledgeable and efficient, but also dedicated to providing a great customer experience.
      </p>
    </div>
  </div>
  <p class="lead-text">From the research lab to your customers' lives, we stand by our work - and help your business
    make our cores a key asset
    in your product portfolio.</p>
</div>

{{> includes/request-samples-banner }} {{> includes/horizontal-cta-about-us }} {{> includes/horizontal-cta-contact-us
}}
{{> includes/horizontal-cta-work-for-domtar }} {{> includes/horizontal-cta-industry-resources }} {{/inline}}
{{/layouts/base}}