{{!-- pages/careers.hbs --}} {{#> layouts/base title="Careers" }} {{#*inline "nav-block"}} {{> includes/nav nav-class="fixed-top"
}} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Careers" img-src="/img/careers-header-min.jpg"
img-src-2x="/img/careers-header@2x-min.jpg" mob-img-src="/img/careers-mobile-header-min.jpg" mob-img-src-2x="/img/careers-mobile-header@2x-min.jpg"
cta="Have a question? Get in touch" cta-class="btn-primary" cta-link="/contact-us.html" }}

<div class="page-content">
    <h1>A global company with a local presence</h1>
    <p>EAM is a wholly owned subsidiary of Domtar. Domtar is a leading provider of a wide variety of fiber-based products
        including communication, specialty and packaging papers, market pulp and absorbent hygiene products, with approximately
        10,000 employees in the U.S., Canada and Europe.</p>
</div>

<div class="content-blocks">
    <div class="wrapper">
        <div class="col-md-6">
            <div class="card card-one">
                <img class="card-img" src="/img/domtar-everyday-min.jpg" alt="Domtar Everyday">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h3>See available jobs</h3>
                    <a href="//www.domtar.com/en/careers" target="_blank" class="btn-primary hvr-sweep-to-right">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-two">
                <img class="card-img" src="/img/learn-more-about-domtar-min.jpg" alt="Learn more about Domtar">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h3>Learn more
                        <br />about Domtar</h3>
                    <a href="//www.domtar.com" target="_blank" class="btn-primary hvr-sweep-to-right">Learn More</a>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="banner-bg-image" style="background-image:url('/img/work-at-domtar-min.jpg')">
        <div class="black-overlay">
            <div class="container">
                <h3 class="title">Interested in working<br /> at Domtar?
                </h3>
                <a href="//www.domtar.com/en/careers" target="_blank" class="btn-primary hvr-sweep-to-right">Click here to
                    apply</a>
            </div>
        </div>
    </div>
</div>

{{> includes/horizontal-cta-contact-us }} {{> includes/horizontal-cta-industry-resources }} {{/inline}} {{/layouts/base}}