{{!-- pages/cookies-policy.hbs --}} {{#> layouts/base title="Cookies Policy" }} {{#*inline "nav-block"}} {{>
includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Cookies
Policy"
img-src="/img/request-samples-header-min.jpg" img-src-2x="/img/request-samples-header@2x-min.jpg"
mob-img-src="/img/request-samples-mobile-header-min.jpg"
mob-img-src-2x="/img/request-samples-mobile-header@2x-min.jpg" cta="Have a question? Contact us here"
cta-class="btn-primary"
cta-link="/contact-us.html" }}

<div class="page-content">
    <h1>Cookies Policy</h1>


    <h3>Consent</h3>

    <p>By using this website <a href="htttp://www.eam-corp.com">http://www.eam-corp.com</a> (the "Website") you consent
        to the use of cookies in accordance with this Cookies Policy. You will have seen a pop up to this effect on
        your first visit to this website; although it will not usually appear on subsequent visits you may withdraw
        your consent at any time by following the instructions below.</p>

    <h3>Disabling cookies</h3>

    <p>If you do not agree to the use of these cookies please disable them by following the instructions for your
        browser set out [here] [Note: link to http://allaboutcookies.org] [or use the automated disabling tools
        available [here] [Note: insert link to consent tool as described in the email, if this option is used].] Please
        note that some of the services will not function so well if cookies are disabled.</p>

    <p>Where the organisation setting the cookie provides an automated disabling tool in respect of its cookie(s) we
        list the name of that organisation, the category of cookies it sets together with a link to its automated
        disabling tool. In all other cases, we list the names of the cookies themselves and their source at the date of
        this Cookies policy so that you can easily identify and disable them if you want through your browser controls.</p>

    <p>Some browsers make it possible for you to signal that you do not want your internet browsing activity to be
        tracked. Disabling tracking may interfere with some uses of the Website and the services provided on the
        Website.</p>

    <p>After your initial visit to the Website we may change the cookies we use. This cookies policy will always allow
        you to know who is placing cookies, for what purpose and give you the means to disable them so you should check
        it from time to time.</p>

    <h3>What are cookies?</h3>

    <p>Cookies are text files containing small amounts of information which are downloaded to your device when you
        visit a website. Cookies are then sent back to the originating web domain on your subsequent visits to that
        domain. Most web pages contain elements from multiple web domains so when you visit the Website, your browser
        may receive cookies from several sources.</p>

    <p>Cookies are useful because they allow a website to recognise a user’s device. Cookies allow you to navigate
        between pages efficiently, remember preferences and generally improve the user experience. They can also be
        used to tailor advertising to your interests through tracking your browsing across websites.</p>

    <p>Session cookies are deleted automatically when you close your browser and persistent cookies remain on your
        device after the browser is closed (for example to remember your user preferences when you return to the site).</p>

    <h3>What types of cookies does [Domtar companies] (“Domtar”) use?</h3>

    <p>...</p>



</div>
{{/inline}} {{/layouts/base}}