{{!-- pages/domtar-everyday.hbs --}}
{{#*inline "head-block"}}

{{> includes/meta description="Domtar is a leading provider of a fiber-based products including communication, specialty and packaging papers, market pulp and absorbent hygiene products." }}

{{/inline}}
 {{#> layouts/base title="Domtar Everyday" }} {{#*inline "nav-block"}} {{> includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Domtar Everyday"
img-src="/img/domtar-everyday-header-min.jpg" img-src-2x="/img/domtar-everyday-header@2x-min.jpg" mob-img-src="/img/domtar-everyday-mobile-header-min.jpg"
mob-img-src-2x="/img/domtar-everyday-mobile-header@2x-min.jpg" cta-class="btn-primary" cta="Learn more at Domtar.com" cta-link="http://www.domtar.com" alt-tag="Domtar - a global leader in pulp, paper and absorbent hygiene personal products."
}}

<div class="page-content">
    <h1>Proud to be part of Domtar Corporation
        <br />
        <span>A global leader in pulp, paper and absorbent hygiene</span>
    </h1>
    <p>EAM is a wholly owned subsidiary of Domtar Corporation. Domtar acquired EAM in 2012 as a foundational piece of its
        Personal Care division.</p>
    <p>
        Domtar is a leading provider of a wide variety of fiber-based products including communication, specialty and packaging papers,
        market pulp and absorbent hygiene products. With approximately 10,000 employees serving more than 50 countries around
        the world, Domtar is driven by a commitment to turn sustainable wood fiber into useful products that people rely
        on every day. Domtar’s annual sales are approximately $5.1 billion and its common stock is traded on the New York
        and Toronto Stock Exchanges (NYSE: UFS, TSX: UFS). Domtar’s principal executive office is in Fort Mill, South Carolina.
    </p>
</div>

<div class="content-blocks mb">
    <div class="wrapper">
        <div class="col-md-6">
            <div class="card card-one">
                <img class="card-img" src="img/visit-the-domtar-newsroom-min.jpg" alt="Visit the Domtar Newsroom">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h3>Inspiring stories about our people, products and more</h3>
                    <a href="//newsroom.domtar.com/" target="_blank" class="btn-primary hvr-sweep-to-right">Visit the Domtar
                        Newsroom
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-two">
                <img class="card-img" src="img/see-domtars-videos-min.jpg" alt="See Domtars video's">
                <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h3>Visit Domtar’s YouTube Channel to Learn more about Domtar</h3>
                    <a href="//www.youtube.com/channel/UCh8Zhq2Rmxhl5Km0krrGoYw" target="_blank" class="btn-primary hvr-sweep-to-right">See
                        our videos</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> includes/horizontal-cta-contact-us }} {{> includes/horizontal-cta-work-for-domtar }} {{> includes/horizontal-cta-industry-resources
}} {{/inline}} {{/layouts/base}}