{{!-- pages/faqs.hbs --}} {{#> layouts/base title="Frequently Asked Questions" }} {{#*inline "nav-block"}} {{>
includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="FAQs"
img-src="/img/faq-header-min.jpg"
img-src-2x="/img/faq-header@2x-min.jpg" mob-img-src="/img/faq-mobile-header-min.jpg"
mob-img-src-2x="/img/faq-mobile-header@2x-min.jpg"
cta="Have a specific question, contact us" cta-class="btn-primary" cta-link="/contact-us.html" }}

<div class="page-content">
    <h1>
        <span>Frequently Asked</span>
        Questions
    </h1>
    <p>If you couldn't find the answers you are looking for, our team is available Monday to Friday from 9am to 5pm ET
        (excluding
        holidays). Email us at
        <a href="mailto:info@eamcorporation.com">info@eamcorporation.com</a> and we will reply by the next business
        day. Or you can fill
        in our
        <a href="/contact-us.html">contact us</a> form or call us and we'd be happy to help.</p>


    <div class="faqs">
        <section class="faqs-suppliers">
            <h2>Suppliers</h2>

            <div id="faqsSuppliers" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        <h4>Is EAM looking for new suppliers?</h4>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="faqsSuppliers">
                        <div class="card-body"> We buy high quality raw materials from around the world, and work with
                            cutting-edge
                            absorbent technologies. If you would like to do business with us, please use our
                            <a href="/contact-us.html">&quot;Suppliers&quot;</a> form to tell us about your products
                            and
                            services.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        <h4>What are the hours for delivery?</h4>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqsSuppliers">
                        <div class="card-body">
                            We are open for deliveries from 7:00 a.m. to 3:00 p.m. Eastern Time, Monday to Friday but
                            can receive emergency shipments
                            around the clock. We are closed on U.S. statutory holidays. If you need assistance during
                            business
                            hours, please call 912-588-2617. You can also reach us at
                            <a href="mailto:info@eamcorporation.com">info@eamcorporation.com</a>. For our more
                            information, visit our
                            <a href="/contact-us.html">Contact page</a>.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingThree" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        <h4>
                            I need directions for a delivery?
                        </h4>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqsSuppliers">
                        <div class="card-body">
                            For directions to our facility, please refer to our
                            <a href="/contact-us.html">Contact page</a>, where you will find our address and a link to
                            Google
                            maps where you can generate directions. If you need immediate assistance, please call
                            912-588-2617
                            during business hours.
                        </div>
                    </div>
                </div>
            </div>
        </section>







        <section class="faqs-customers">
            <h2>Customers</h2>


            <div id="faqsCustomers" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingFour" data-toggle="collapse" data-target="#collapseFour"
                        aria-expanded="true" aria-controls="collapseFour">
                        <h4>

                            What does EAM make?

                        </h4>
                    </div>

                    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#faqsCustomers">
                        <div class="card-body">
                            We design and manufacture customizable, thin and flexible airlaid and laminate materials.
                            Recognized for comfort, convenience
                            and an ultra-slim profile, our high performance absorbent cores are found in products that
                            consumers
                            and businesses rely on every day. Our cores are sold under the brand names
                            <a href="/absorbent-cores.html">NovaThin&reg;</a> and
                            <a href="/absorbent-cores.html">NovaZorb&reg;</a>.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingFive" data-toggle="collapse" data-target="#collapseFive"
                        aria-expanded="false" aria-controls="collapseFive">
                        <h4>

                            Does EAM sell finished consumer goods?

                        </h4>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqsCustomers">
                        <div class="card-body">
                            EAM is a business-to-business (B2B) company for manufacturers worldwide. Product designers
                            around the world incorporate
                            <a href="/absorbent-cores.html">NovaThin&reg;</a> and
                            <a href="/absorbent-cores.html">NovaZorb&reg;</a> cores into a wide range of end uses,
                            including
                            consumer products and industrial applications.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingSix" data-toggle="collapse" data-target="#collapseSix"
                        aria-expanded="false" aria-controls="collapseSix">
                        <h4>

                            Who buys EAM’s absorbent materials? How are they used?

                        </h4>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqsCustomers">
                        <div class="card-body">
                            Manufacturers incorporate our
                            <a href="/absorbent-cores.html">thin and flexible airlaid and laminate materials</a> in a
                            <a href="/applications.html">wide range of end uses</a>. Our cores are mainstays in a wide
                            variety
                            of leading consumer products, including feminine hygiene, adult incontinence, baby diapers,
                            and
                            pet care products. They are also used in specialty medical and packaging applications where
                            absorbency
                            and hygiene are key attributes.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven"
                        aria-expanded="false" aria-controls="collapseSeven">
                        <h4>

                            What are NovaThin&reg; and NovaZorb&reg;? How can I find out more?

                        </h4>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqsCustomers">
                        <div class="card-body">
                            <a href="/absorbent-cores.html">NovaThin&reg;</a> and
                            <a href="/absorbent-cores.html">NovaZorb&reg;</a> are registered brand names for our
                            proprietary
                            airlaid cores. They are distinguished among competitors for their high quality, competitive
                            shipping
                            costs, and ease of product integration. If you are a manufacturer and would like to discuss
                            how
                            you can incorporate our materials into
                            <a href="/applications.html">products that require absorbent medium</a>, we would be happy
                            to
                            speak with you, and can also provide you with
                            <a href="/request-samples.html">samples</a>. We work collaboratively to design the solution
                            for
                            your needs. Refer to our
                            <a href="/contact-us.html">Contact page</a> for details on how to get in touch.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingEight" data-toggle="collapse" data-target="#collapseEight"
                        aria-expanded="false" aria-controls="collapseEight">
                        <h4>

                            Where can I get samples of your products?

                        </h4>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqsCustomers">
                        <div class="card-body">
                            If you are a manufacturer looking to design a
                            <a href="/applications.html">product with superior absorbency capabilities</a>, our
                            <a href="/absorbent-cores.html">innovative materials</a> could be right for you. Just fill
                            in
                            our
                            <a href="/request-samples.html">sample request form</a>, indicating the end-use for your
                            product,
                            and we’ll send you samples of NovaThin or NovaZorb that would be suitable for your needs.
                            From
                            there, we can work together to design a solution that is unique for your business.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingNine" data-toggle="collapse" data-target="#collapseNine"
                        aria-expanded="false" aria-controls="collapseNine">
                        <h4>

                            How do I contact you for a sales enquiry? How soon will you get back to me?

                        </h4>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqsCustomers">
                        <div class="card-body">
                            The best way to get in touch with us is through our
                            <a href="/contact-us.html">Contact form</a>. We check the inbox daily and will get back to
                            you
                            within 24 hours. You can also leave our Sales Team a message at 912-588-2626.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingTen" data-toggle="collapse" data-target="#collapseTen"
                        aria-expanded="false" aria-controls="collapseTen">
                        <h4>

                            Where does EAM do business?

                        </h4>
                    </div>
                    <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#faqsCustomers">
                        <div class="card-body">
                            EAM is
                            <a href="/contact-us.html">located</a> in southeastern United States. We serve customers
                            all
                            over the world, and are always looking to expand our horizons. Don’t hesitate to
                            <a href="/contact-us.html">reach out to us</a>, no matter where you’re located!
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="faqs-general-questions">

            <h2>General Questions</h2>

            <div id="faqsGeneral" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingEleven" data-toggle="collapse" data-target="#collapseEleven"
                        aria-expanded="true" aria-controls="collapseEleven">
                        <h4>
                            Does EAM sell finished consumer goods?
                        </h4>
                    </div>

                    <div id="collapseEleven" class="collapse show" aria-labelledby="headingEleven" data-parent="#faqsGeneral">
                        <div class="card-body">
                            EAM is a business-to-business (B2B) company for manufacturers worldwide. Product designers
                            around the world incorporate
                            <a href="/absorbent-cores.html">our cores</a> into a wide range of end uses, including
                            <a href="/applications.html">consumer products and industrial applications</a>.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingTwelve" data-toggle="collapse" data-target="#collapseTwelve"
                        aria-expanded="true" aria-controls="collapseTwelve">
                        <h4>
                            Where is EAM located?
                        </h4>
                    </div>
                    <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#faqsGeneral">
                        <div class="card-body">
                            Our manufacturing facility and business offices are at 2075 Sunset Blvd., Jesup, GA 31545.
                            Visit our
                            <a href="/contact-us.html">Contact page</a> for a link to Google maps where you can
                            generate
                            directions.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingThirteen" data-toggle="collapse"
                        data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
                        <h4>
                            Is EAM a publicly-traded company?
                        </h4>
                    </div>
                    <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#faqsGeneral">
                        <div class="card-body">
                            EAM Corporation is a wholly-owned subsidiary of Domtar Corporation. Domtar’s annual sales
                            are approximately $5.1 billion
                            and its common stock is traded on the New York and Toronto Stock Exchanges (NYSE: UFS, TSX:
                            UFS).
                            To learn more, visit
                            <a href="http://www.domtar.com" target="_blank">www.domtar.com</a>.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingFourteen" data-toggle="collapse"
                        data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
                        <h4>
                            What is EAM’s sustainability performance?
                        </h4>
                    </div>
                    <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#faqsGeneral">
                        <div class="card-body">
                            Domtar, EAM’s parent company, is a leader in sustainability. To learn about our approach
                            and performance, visit
                            <a href="http://www.domtar.com/en/sustainability">www.domtar.com/sustainability</a>.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingSixteen" data-toggle="collapse"
                        data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
                        <h4>
                            How can I contact EAM management?
                        </h4>
                    </div>
                    <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#faqsGeneral">
                        <div class="card-body">
                            For general enquiries, you can call 912-588-2617. Our business hours are from 7:30 a.m. to
                            4:30 p.m. Eastern Time, Monday
                            to Friday. You can also email us at
                            <a href="mailto:info@eamcorporation.com">info@eamcorporation.com</a>.
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="faqs-job-seeker">
            <h2>Job Seeker</h2>

            <div id="faqsJobs" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="headingSeventeen" data-toggle="collapse" data-target="#collapseSeventeen"
                        aria-expanded="true" aria-controls="collapseSeventeen">
                        <h4>
                            Are you currently hiring?
                        </h4>
                    </div>

                    <div id="collapseSeventeen" class="collapse show" aria-labelledby="headingSeventeen" data-parent="#faqsJobs">
                        <div class="card-body">
                            Our staffing needs fluctuate. However, job seekers are always welcome to view open
                            positions and submit an application for
                            employment
                            <a href="http://www.domtar.com/en/careers/jobs.asp" target="_blank">through our online
                                application
                                portal
                            </a>. As wholly-owned subsidiary of Domtar, our recruitment process is centralized through
                            our
                            parent company’s career site at
                            <a href="http://www.domtar.com/en/careers/" target="_blank">www.domtar.com/careers</a>.
                            Domtar
                            is an equal opportunity employer. Qualified applicants will be considered without regard to
                            age,
                            race, creed, color, national origin, ancestry, marital status, affectional or sexual
                            orientation,
                            gender identity or expression, disability, nationality, sex, or veteran status.
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingEighteen" data-toggle="collapse"
                        data-target="#collapseEighteen" aria-expanded="true" aria-controls="collapseEighteen">
                        <h4>
                            What kind of positions do you offer? Where can I see what jobs are available?
                        </h4>
                    </div>

                    <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#faqsJobs">
                        <div class="card-body">
                            As a manufacturer, we offer a wide variety of challenging opportunities. We hire engineers,
                            product designers and machine
                            operators, among other roles. To view available jobs, visit the
                            <a href="http://www.domtar.com/en/careers/jobs.asp" target="_blank">job search portal of
                                Domtar</a>,
                            EAM’s parent company. The job portal displays available positions from across Domtar; to
                            view
                            open positions at EAM, select “USA – GA - Jesup” in the Location drop-down menu.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingNineteen" data-toggle="collapse"
                        data-target="#collapseNineteen" aria-expanded="true" aria-controls="collapseNineteen">
                        <h4>
                            How can I apply for a job?
                        </h4>
                    </div>

                    <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#faqsJobs">
                        <div class="card-body">
                            All job applications must be submitted through the
                            <a href="http://www.domtar.com/en/careers/jobs.asp" target="_blank">job search portal of
                                Domtar</a>,
                            EAM’s parent company. If you are an individual with a disability and require a reasonable
                            accommodation
                            to complete any part of the job application process, please contact Domtar at 803-578-2404
                            or
                            email
                            <a href="mailto:jobs@domtar.com">Jobs@Domtar.com</a> for assistance.
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header collapsed" role="tab" id="headingTwenty" data-toggle="collapse" data-target="#collapseTwenty"
                        aria-expanded="true" aria-controls="collapseTwenty">
                        <h4>
                            Where can I learn more about the company?
                        </h4>
                    </div>

                    <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#faqsJobs">
                        <div class="card-body">
                            EAM Corporation is a wholly-owned subsidiary of Domtar. You can visit the company’s website
                            at
                            <a href="http://www.domtar.com/" target="_blank">www.domtar.com</a> for corporate
                            information.
                            To read stories about our people and some of the interesting things we’re up to, visit the
                            <a href="https://newsroom.domtar.com/" target="_blank">Domtar Newsroom</a>.
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
{{> includes/request-samples-banner }} {{> includes/horizontal-cta-contact-us }} {{>
includes/horizontal-cta-work-for-domtar
}} {{> includes/horizontal-cta-industry-resources }} {{/inline}} {{/layouts/base}}