{{!-- pages/industry-resources.hbs --}} {{#> layouts/base title="Industry Resources" }} {{#*inline "nav-block"}} {{> includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Industry Resources"
img-src="/img/industry-resources-header-min.jpg" img-src-2x="/img/industry-resources-header@2x-min.jpg" mob-img-src="/img/industry-resources-mobile-header-min.jpg"
mob-img-src-2x="/img/industry-resources-mobile-header@2x-min.jpg" cta-class="btn-primary" cta="Learn more about EAM" cta-link="/about-us.html"
}}

<div class="page-content">
  <h1>
    <span>At EAM, we work with industry experts around the globe.</span> We like to share what we’ve found.</h1>

  <p>From technology to business development to market data, we stay on top of what’s happening. If you’re looking to grow
    your knowledge of the airlaid industry, please refer to the resources below. If you need more information, be sure to
    reach out to us.</p>

</div>
<div class="container links">
  <h2>
    Nonwoven Industry Publications
  </h2>
  <ul>
    <li>
      <h3>Nonwovens Industry (US)</h3>
      <a href="http://www.nonwovens-industry.com" target="_blank">www.nonwovens-industry.com</a>
    </li>
    <li>
      <h3>Nonwovens Markets (US)</h3>
      <a href="http://www.nonwovens.com/" target="_blank">www.nonwovens.com</a>
    </li>
    <li>
      <h3>Nonwovens World (US)</h3>
      <a href="http://www.marketingtechnologyservice.com" target="_blank">www.marketingtechnologyservice.com</a>
    </li>
    <li>
      <h3>Nonwovens Report International (UK)</h3>
      <a href="http://www.nonwovens-report.com" target="_blank">www.nonwovens-report.com</a>
    </li>
  </ul>
</div>
<div class="container downloads">
  <h2>Airlaid Papers</h2>
  <ul>
    <li>
      <img srcset="img/icon-pdf.png 1x, img/icon-pdf@2x.png 2x" src="img/icon-pdf.png" alt="Download Airlaid Industry Overview PDF">
      <h3>
        <strong>Airlaid Industry</strong> Overview</h3>
      <a href="/resources/The%20Airlaid%20Manufacturing%20Process.pdf" target="_blank">view PDF</a>
    </li>
    <li>
      <img srcset="img/icon-pdf.png 1x, img/icon-pdf@2x.png 2x" src="img/icon-pdf.png" alt="Download Airlaid Nonwoven Technology PDF">
      <h3>
        <strong>Airlaid Nonwoven</strong> Technology</h3>
      <a href="/resources/Airlaid%20Nonwoven%20Technology%20Overview.pdf" target="_blank">view PDF</a>
    </li>
  </ul>
</div>

<div class="container-fluid associations">
  <div class="container">
    <h2>
      International Nonwovens Industry Associations
    </h2>
    <ul>
      <li>
        <h3>INDA, Association of the Nonwovens Fabrics Industry</h3>
        <p>Based in Cary, North Carolina, INDA's mission is to promote the growth and profitability of the nonwovens/engineered
          fabrics industry.</p>
        <a href="http://www.inda.org" target="_blank">www.inda.org</a>
      </li>
      <li>
        <h3>EDANA</h3>
        <p>Headquartered in Brussels, EDANA is an international association serving the nonwovens and related industries
          in Europe, Africa and the Middle East.</p>
        <a href="http://www.edana.org" target="_blank">www.edana.org</a>
      </li>
      <li>
        <h3>ANFA, Asia Nonwoven Fabrics Association</h3>
        <p>ANFA represents the nonwoven industry in Asia (Japan, Korea, China, Taiwan, Hong Kong and other Asian countries).</p>
        <a href="http://www.asianonwovens.org" target="_blank">www.asianonwovens.org</a>
      </li>
      <li>
        <h3>TTNA, Technical Textile &amp; Nonwovens Association</h3>
        <p>The TTNA represents the interests of the technical textile and nonwovens industry in Australia.</p>
        <a href="http://www.ttna.com.au" target="_blank">www.ttna.com.au</a>
      </li>
    </ul>
  </div>
</div>
{{> includes/horizontal-cta-work-for-domtar }} {{> includes/horizontal-cta-contact-us }} {{/inline}} {{/layouts/base}}