{{!-- pages/privacy-policy.hbs --}} {{#> layouts/base title="Privacy Policy" }} {{#*inline "nav-block"}} {{>
includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Privacy
Policy"
img-src="/img/request-samples-header-min.jpg" img-src-2x="/img/request-samples-header@2x-min.jpg"
mob-img-src="/img/request-samples-mobile-header-min.jpg"
mob-img-src-2x="/img/request-samples-mobile-header@2x-min.jpg" cta="Have a question? Contact us here"
cta-class="btn-primary"
cta-link="/contact-us.html" }}

<div class="page-content">
    <h1>Privacy Policy</h1>

    <p>EAM Corporation ("EAM") is committed to and recognizes your need for protection and privacy issues on the
        Internet.</p>

    <p>In general, you can visit eam-corporation.com ("Website") without telling us who you are or revealing any
        information about yourself. We may collect the IP addresses and / or domain names of visitors for site
        administration purposes, such as to analyze this data for trends and statistics. No personal information is
        obtained, but the patterns of usage may be tracked and monitored.</p>

    <h2 class="h3">Collecting Personal Identifiable Information</h2>

    <p>There are times when we may collect personal information from you; for example, when you are sending an
        information request.</p>

    <p>We may collect the following information from you voluntarily:</p>

    <ol>
        <li>Name</li>
        <li>Company</li>
        <li>Email address</li>
        <li>Phone number</li>
    </ol>

    <h2 class="h3">Removing Or Updating Personal Information</h2>

    <p>If you change your mind or wish to update personal information, we will endeavor to correct, update or remove
        the personal data you give us. You may at any time revise your personal information or question it by directly
        contacting us at <a href="mailto:info@novathin.com">info@novathin.com</a>.</p>

    <p>EAM reserves the right to disclose user information in special cases, when we have reason to believe that
        disclosing this information is necessary to identify, contact or bring legal action against someone who may be
        causing injury to or interference with (either intentionally or unintentionally) our rights or property, other
        Web site users or anyone else who could be harmed by such activities. We may disclose personal information in
        response to a subpoena, when we believe in good faith that the law requires it or to respond to an emergency
        situation.</p>

</div>
{{/inline}} {{/layouts/base}}