{{!-- pages/request-samples.hbs --}}
{{#*inline "head-block"}}

{{> includes/meta description="Order a sample and learn about the NovaThin and NovaZorb advantage first-hand! Follow the steps and order yours. We think you will be impressed." }}

{{/inline}}

 {{#> layouts/base title="Request Samples" }} {{#*inline "nav-block"}} {{>
includes/nav
nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component page-title="Request
Samples"
img-src="/img/request-samples-header-min.jpg" img-src-2x="/img/request-samples-header@2x-min.jpg"
mob-img-src="/img/request-samples-mobile-header-min.jpg"
mob-img-src-2x="/img/request-samples-mobile-header@2x-min.jpg" cta="Have a question? Contact us here"
cta-class="btn-primary"
cta-link="/contact-us.html" alt-tag="Order a free product sample." }}

<div class="wrapper grey-fg">
    <div class="container">
        <h2 class="h1">Thank you for your interest
            <br />
            <span>in our products!</span>
        </h2>
        <p>Don’t take our word for it – learn about the NovaThin and NovaZorb advantage first-hand! Follow the steps
            and
            order yours. We think you'll be impressed.</p>
        <p>Simply fill out and submit the form below to have free samples of our high-performance absorbent material
            shipped
            directly to you. If you have any questions please send them to
            <a href="mailto:info@eamcorporation.com">info@eamcorporation.com</a> or visit our
            <a href="/faqs.html">FAQs</a> page.</p>
        <!-- Formio -->
        <script type="text/javascript">(function a(d, w, u) { var h = d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.type = "text/javascript"; s.src = "https://portal.form.io/lib/seamless/seamless.parent.min.js"; s.onload = function b() { var f = d.getElementById("formio-form-5ae5d95ebe2b3a83b0959a13"); if (!f || (typeof w.seamless === u)) { return setTimeout(b, 100); } w.seamless(f, { fallback: false }).receive(function (d, e) { }); }; h.appendChild(s); })(document, window);</script><iframe
            id="formio-form-5ae5d95ebe2b3a83b0959a13" style="width:100%;border:none;" height="600px" src="https://formview.io/#/obetixkiiblacbj/requestsamples?iframe=1&header=0"></iframe>
        <!-- <script src="https://unpkg.com/formiojs@latest/dist/formio.embed.js?src=https://obetixkiiblacbj.form.io/requestsamples"></script> -->
    </div>
</div>

<div class="request-samples-banner">
    <div class="container">
        <h3 class="title">Learn more about our
            <br />
            <span>Absorbent Cores and Products</span>
        </h3>
        <div class="row">
            <div class="col-md-6">
                <img class="novathin-logo" srcset="img/novathin-logo.png 1x, img/novathin-logo@2x.png 2x" src="img/novathin-logo.png"
                    alt="Novathin Logo">
            </div>
            <div class="col-md-6">
                <img class="novazorb-logo" srcset="img/novazorb-logo.png 1x, img/novazorb-logo@2x.png 2x" src="img/novazorb-logo.png"
                    alt="Novazorb Logo">
            </div>
        </div>
        <div class="btn-group">
            <a href="/our-products.html" class="btn-primary hvr-sweep-to-right">Learn More</a>
        </div>
    </div>
</div>








{{!-- {{> includes/fwb pattern-class="blue-pattern"
img-src="/img/learn-more-about-our-absorbent-cores-and-products-min.jpg"
foreground-class="" content="
<span class='small'>Not sure? Let us convince you!</span>
<h2>
    <span>Learn more about</span>
    <br /> our Absorbent Cores and Products
</h2>" btn-class="btn-secondary" btn-link="/applications.html" btn-target="_self" btn-text="Learn More" }} --}}
{{/inline}}
{{/layouts/base}}