{{!-- pages/terms-and-conditions.hbs --}} {{#> layouts/base title="Terms and Conditions" }} {{#*inline "nav-block"}}
{{>
includes/nav nav-class="fixed-top" }} {{/inline}} {{#*inline "content-block"}} {{> includes/header-component
page-title="Terms"
img-src="/img/request-samples-header-min.jpg" img-src-2x="/img/request-samples-header@2x-min.jpg"
mob-img-src="/img/request-samples-mobile-header-min.jpg"
mob-img-src-2x="/img/request-samples-mobile-header@2x-min.jpg" cta="Have a question? Contact us here"
cta-class="btn-primary"
cta-link="/contact-us.html" }}

<div class="page-content">

    <h1>Terms and Conditions</h1>
    <p>The Domtar.com web Site and any other Domtar-linked site (each, a "Site") is an online information service where
        you can obtain information about products and services provided by Domtar Corporation or its affiliates (each,
        a “Group Company”), and is available subject to your compliance with the terms and conditions set forth below.
        Nothing in this Site shall be construed as creating any warranty or other obligation on the part of Domtar
        Corporation or its Group Companies (collectively, “We” or "Us" or “Our”).</p>

    <p>Agreement. Please read the following information carefully before using this Site. By using this Site, you agree
        to be bound by these Terms and Conditions. If you do not agree with any part of these Terms and Conditions, do
        not use this Site. We reserve the right, in Our sole discretion, to modify, alter or otherwise update these
        Terms and Conditions at any time, and by using this Site after the posting of a modification, you accept the
        modification. Any changes will be effective only after the effective date of the change and will not affect any
        dispute arising prior to the effective date of the change. The effective date of this notice and any revised or
        changed notice may be found on this page, on the bottom left hand corner of the notice. Any changes will be
        effective only after the effective date of the change and will not affect any dispute arising prior to the
        effective date of the change.</p>

    <p>Disclaimer of Warranties; Limitation of Liability. THIS SITE AND ITS CONTENTS ARE PROVIDED "AS IS" WITHOUT
        WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT AND WE SPECIFICALLY DISCLAIM ANY IMPLIED
        WARRANTIES, WHETHER OF MERCHANTABILITY, SUITABILITY, FITNESS FOR A PARTICULAR PURPOSE, INFRINGEMENT OR
        OTHERWISE. These warranties are hereby excluded to the fullest extent permissible by law. UNDER NO
        CIRCUMSTANCES SHALL WE BE LIABLE FOR ANY DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL
        DAMAGES THAT MAY ARISE FROM YOUR USE OF, OR INABILITY TO USE, THIS SITE, including but not limited to, loss of
        profits, loss of use, loss of data or information, business interruption, or any other damages whether in an
        action of contract, negligence or other tortious action, arising out of or in connection with the availability,
        use, reliance on or inability to use any information available from this Site. In no event shall Our total
        liability for claims, damages and causes of action, whether in contract, tort or otherwise, exceed the amount
        paid by you, if any, for accessing this Site. Some jurisdictions do not allow the exclusion or limitation of
        liability for consequential or incidental damages. In such jurisdictions, Our liability is limited to the
        greatest extent permitted by law, or $10, whichever is less.</p>

    <p>We make no representations whatsoever about the suitability of the information contained in the documents,
        related graphics and materials published on this Site, for any purpose. Any publication may include technical
        inaccuracies or typographical errors. We do not warrant that such documents, related graphics and materials
        will be uninterrupted or error-free, that defects will be corrected or that this Site, or the server that makes
        it available, are free of viruses or other harmful components. Communications sent on this Site on the Internet
        are not secure and are deemed NOT confidential. Users should not send sensitive or confidential information.</p>

    <p>BY ACCESSING THE SITE, YOU UNDERSTAND THAT YOU MAY BE WAIVING RIGHTS WITH RESPECT TO CLAIMS THAT ARE AT THIS
        TIME UNKNOWN OR UNSUSPECTED, AND IN ACCORDANCE WITH SUCH WAIVER, YOU ACKNOWLEDGE THAT YOU HAVE READ AND
        UNDERSTAND, AND HEREBY EXPRESSLY WAIVE, THE BENEFITS OF SECTION 1542 OF THE CIVIL CODE OF CALIFORNIA, AND ANY
        SIMILAR LAW OF ANY STATE OR TERRITORY, WHICH PROVIDES AS FOLLOWS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS
        WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE,
        WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR."</p>


    <p>Privacy. Personal information transmitted to Us will be treated in accordance with Our <a href="/privacy-policy.html"
            target="_blank">Privacy Policy</a>.</p>

    <p>Our Copyrighted Materials; Infringement Claims. The copyrights in all text, images, screens and other materials
        provided on this Site (collectively, the "Materials") are owned by Us and/or by third parties. Except as
        provided below, none of the Materials may be copied, distributed, displayed, downloaded, or transmitted in any
        form or by any means without the prior written permission of Us or the copyright owner. We hereby authorize you
        to view and print the documents, related graphics and materials published by Us on this Site subject to the
        following conditions:</p>

    <ol>
        <li>use is for non-commercial or personal purposes;</li>
        <li>use is for informational purposes only;</li>
        <li>no documents, related graphics or materials available from this Site or other sites linked to one of our
            sites are modified in any way; and</li>
        <li>no graphics available from this site are used separate from the accompanying text.</li>
    </ol>

    <p>In consideration of this authorization, you agree that the above copyright notice and this permission notice
        shall appear in all copies of any documents, related graphics and materials, or any portions thereof, published
        on this Site. Modification or use of the Materials, or any portion thereof, published on this Site for any
        other purpose than indicated herein, is a violation of Our copyright and other proprietary rights. The use of
        any documents, related graphics and materials from this Site or any networked computer environment is
        prohibited. Any product, service, process or technology described in this Site is the subject of other
        intellectual property rights reserved by Us and may not be licensed hereunder. Any rights not expressly granted
        herein are reserved.</p>

    <p>Unauthorized use of any Materials contained on this Site may violate copyright laws, trademark laws, the laws of
        privacy and publicity, and/or other regulations and statutes. If you believe that any of the Materials infringe
        on any of your intellectual property rights, please contact Us immediately at the address provided below.
        Except as expressly provided herein, We and the third parties reserve all rights with respect to the Materials,
        and may pursue all legally available options under both civil and criminal laws (and may cooperate with law
        enforcement agencies) in the event of any violations.


        <p>Trademarks. Trademarks and service marks that may be referred to on this Site are Our property or the
            property of their respective owners. Nothing on this Site should be construed as granting, by implication,
            estoppel, or otherwise, any license or right to use any trademark without Our written permission. Our name
            or logo may not be used in any way, including in advertising or publicity pertaining to distribution of
            materials on this Site, without prior written permission. You are not authorized to use Our logo as a
            hyperlink to this Site unless you obtain Our written permission in advance.</p>
    </p>

    <p>Prohibited Actions. You agree not to: (a) decompile, reverse engineer, disassemble, modify, reduce the Site to
        human perceivable form or create derivative works based upon the Site or any part thereof; (b) disable any
        licensing or control features of the Site; (c) “frame” the Site or any portion thereof or otherwise cause the
        Site or its contents to appear to be provided by anyone except Us; (d) introduce into the Site any virus or
        other code or routine intended to disrupt or damage the Site, or alter, damage or delete any Materials, or
        retrieve or record information about the Site or its users; (e) merge the Site or Materials with another
        program or create derivative works based on the Site or Materials; (f) remove, obscure, or alter any notice of
        the copyright or other proprietary legends on the Site or Materials; (g) sublicense, assign, translate, rent,
        lease, lend, resell for profit, distribute or otherwise assign or transfer the Materials or access to the Site
        to others; (h) use, or allow the use of, the Site or the Materials in contravention of any federal, state,
        local, foreign or other applicable law, or rules or regulations of regulatory or administrative organizations;
        or (i) otherwise act in a fraudulent, illegal, malicious or negligent manner when using the Site. Except as
        expressly provided herein, We and the third parties reserve all rights with respect to the Site, and may pursue
        all legally available options under both civil and criminal laws (and may cooperate with law enforcement
        agencies) in the event of any violations.</p>

    <p>Prohibition on Scripts, Bots, Third Parties, etc. You shall not access or use the Site by means of any automated
        program, expert system, electronic agent or “bot,” and shall not give any person or entity access to the Site.</p>

    <p>Prohibition on Scraping. You are prohibited from “scraping,” copying, republishing, licensing, or selling the
        data or information on the Site if you do so for commercial purposes.</p>

    <p>Ownership of Usage Data. We may collect and aggregate data about your usage of the Site, and We shall be the
        sole owner of such information. See also our Privacy Policy regarding the use of cookies, on our site.</p>

    <p>Links. Although We control a few hyperlinks in the Site that relate to Our affiliated companies, some links
        within this Site may lead to third-party sites. We include these third-party links solely as a convenience to
        you. We cannot vouch for or take responsibility for the information contained in any such sites or information
        sources. The presence of a link does not imply an endorsement of the linked site, its operator, or its
        contents, or that We are in any way affiliated with the linked site. The Site does not incorporate any
        materials appearing in such linked sites by reference. We reserve the right to terminate a link to a third
        party web site at any time. The third party sites are not controlled by Us, and may have different terms of use
        and privacy policies, which We encourage you to review.</p>

    <p>Must Be At Least 18 Years Old to Use This Site. At this Site We make no active effort to collect personal
        information from individuals under the age of eighteen (18). We require that Site users be of legal age to
        enter into agreements (typically, at least eighteen (18) years of age or older).</p>

    <p>Governing Law. For Canadian residents, these Terms and Conditions shall be governed by and construed in
        accordance with the laws of the Province of Québec and Canada applicable therein, without giving effect to any
        principles of conflict of law. For United States residents, these Terms and Conditions shall be governed by and
        construed in accordance with the laws of the State of Delaware and the United States, as applicable, without
        giving effect to any principles of conflict of law.</p>

    <p>Not Authorized to Do Business In Every Jurisdiction. We are not authorized to do business in every jurisdiction.
        Information published on this Site may contain references or cross-references to goods or services that are not
        available in your province/state or country.</p>

    <p>Entire Agreement; Severability. You acknowledge that you have read and understood these Terms and Conditions and
        that you agree to be bound by its terms and conditions. You further agree that these Terms and Conditions,
        together with the Privacy Policy, which is hereby incorporated into these Terms and Conditions by reference,
        constitute the complete and exclusive statement of these Terms and Conditions between you and Us and supersedes
        all other proposals or prior agreements oral or written, and any other communications relating to the subject
        matter of these Terms and Conditions. If any provision of these Terms and Conditions is found unenforceable, it
        shall not affect the validity of these Terms and Conditions, which shall remain valid and enforceable according
        to its terms.</p>

    <p>Contact Us. For further information, or inquiries about these Terms and Conditions, please contact:</p>

    <p>Communications Department,<br />
        395 de Maisonneuve Blvd. West<br />
        Montreal, QC H3A 1L6<br />
        Canada</p>

    <p>Email: <a href="mailto:communications@domtar.com">communications@domtar.com</a></p>

    <p>Last Updated:</p>
</div>
{{/inline}} {{/layouts/base}}