<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="menu">
        <ul>
          <li>
            <a href="/about-us.html">About</a>
          </li>
          <li>
            <a href="/our-products.html">Our Products</a>
          </li>
          <li>
            <a href="/absorbent-cores.html">Our Cores</a>
          </li>
          <li>
            <a href="/applications.html">Applications</a>
          </li>
          <li>
            <a href="/contact-us.html">Contact us</a>
          </li>
        </ul>
      </div>
      <div class="menu">
        <ul>
          <li>
            <a href="/request-samples.html">Request samples</a>
          </li>
          <li>
            <a href="http://www.domtar.com" id="domtarOutbound" target="blank">Domtar</a>
          </li>
          <li>
            <a href="/careers.html">Careers</a>
          </li>
          <li>
            <a href="/faqs.html">FAQs</a>
          </li>
        </ul>
      </div>
      <div class="address">
        <h4>EAM Corporation</h4>
        <p>
          <i class="fa fa-phone" aria-hidden="true"></i> 912-588-2600
          <br />
          <i class="fa fa-map-o" aria-hidden="true"></i> 2075 Sunset Blvd.
          <br /> Jesup, GA, USA 31545</p>
      </div>
      <div class="social">
        <h4>Follow Domtar on</h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/company/domtar" id="linkedin" target="_blank">
              <i class="fa fa-linkedin" aria-hidden="true" title="LinkedIn"></i>
              <span class="sr-only">LinkedIn page</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/domtareveryday" id="twitter" target="_blank">
              <i class="fa fa-twitter" title="Twitter"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCh8Zhq2Rmxhl5Km0krrGoYw" id="youtube" target="_blank">
              <i class="fa fa-youtube" title="YouTube"></i>
              <span class="sr-only">YouTube</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/DomtarEveryday/" id="facebook" target="_blank">
              <i class="fa fa-facebook" title="Facebook"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 info">
        <h3>
          <img srcset="img/EAM-logo-horizontal-white.png 1x, img/EAM-logo-horizontal-white@2x.png 2x" src="img/EAM-logo-horizontal-white.png"
            alt="EAM Logo">
        </h3>
        <p>
          <a href="/terms-and-conditions.html">Terms and Conditions</a> |
          <a href="/privacy-policy.html">Privacy Policy</a>
          <br /> &copy; 2018 EAM. All Rights Reserved.</p>
      </div>
    </div>
  </div>