  <div class="horizontal-cta">
    <a href="/contact-us.html">
      <div class="wrapper">
        <div class="image" style="background-image:url('img/located-in-jesup-cta-min.jpg');"></div>
        <div class="text blue-bg hvr-sweep-to-right">
          <p>Located in Jesup, Georgia, USA
            <br />
            <span>Click here for directions.</p>
        </div>
      </div>
    </a>
  </div>