<div class="horizontal-cta">
  <a href="/careers.html" target="_blank">
    <div class="wrapper">
      <div class="image" style="background-image:url('img/work-for-domtar-cta-min.jpg');"></div>
      <div class="text green-bg hvr-sweep-to-right">
        <p>Want to work at Domtar?
          <br />
          <span>Search jobs here.</p>
      </div>
    </div>
  </a>
</div>