<div class="horizontal-cta">
  <a href="/domtar-everyday.html">
    <div class="wrapper">
      <div class="text-only green-bg hvr-sweep-to-right">
        <p>EAM is a wholly owned subsidiary of Domtar Corporation.
          <br />
          <span>Learn more about our company.
        </p>
      </div>
    </div>
  </a>
</div>