<div class="horizontal-cta">
  <a href="/industry-resources.html">
    <div class="wrapper">
      <div class="image" style="background-image:url('img/industry-resources-cta-min.jpg');"></div>
      <div class="text grey-bg hvr-sweep-to-right">
        <p>Looking for guidance?
          <br />
          <span>Click here for Industry Resources.</p>
      </div>
    </div>
  </a>
</div>