<div class="nav-wrap">
  <nav class="navbar navbar-expand-lg {{nav-class}}">

    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="img/EAM-logo.svg" alt="EAM Logo" onerror="this.src=EAM-logo.png; this.onerror=null;">
      </a>
      <div class="navbar-toggler navbar-toggler-right" role="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <div id="nav-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/our-products.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Our Products
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/our-products.html">Our Products</a>
              <a class="dropdown-item" href="/absorbent-cores.html">Our Absorbent Cores</a>
              <a class="dropdown-item" href="/applications.html">Applications</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/about-us.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About EAM
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/about-us.html">About EAM</a>
              <a class="dropdown-item" href="/industry-resources.html">Industry Resources</a>
              <a class="dropdown-item" href="/careers.html">Careers</a>
              <a class="dropdown-item" href="/domtar-everyday.html">Domtar Everyday</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact-us.html">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link notice-me" href="/request-samples.html">Request Samples</a>
          </li>
          <li class="nav-item mobile-address">
            <h4>EAM Corporation</h4>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i> 912-588-2600
              <br />
              <i class="fa fa-map-o" aria-hidden="true"></i> 2075 Sunset Blvd.
              <br /> Jesup, GA, USA 31545</p>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>