<div class="request-samples-banner">
  <div class="container">
    <h3 class="title">Click here to request samples
      <br />of
      <span>NovaThin</span> and
      <span>NovaZorb</span> absorbent cores.
    </h3>

    <div class="row">
      <div class="col-md-6 left">
        <img class="novathin-logo" srcset="img/novathin-logo.png 1x, img/novathin-logo@2x.png 2x" src="img/novathin-logo.png" alt="Novathin Logo">
      </div>
      <div class="col-md-6 right">
        <img class="novazorb-logo" srcset="img/novazorb-logo.png 1x, img/novazorb-logo@2x.png 2x" src="img/novazorb-logo.png" alt="Novazorb Logo">
      </div>
    </div>

    <div class="btn-group">
      <a href="/absorbent-cores.html" class="btn-primary hvr-sweep-to-right">Learn More</a>
      <a href="/request-samples.html" class="btn-secondary hvr-sweep-to-right">Request Samples</a>
    </div>
  </div>
</div>